{% extends "base.html" %}

{% block content %}
    <h1>Subscription</h1>
    <br/>

    <div class='col-4 d-flex justify-content-center'>
        
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div>
                {{ form.email.label }}<br>
                {{ form.email(size=32) }}
            </div><br>
            <div>
                {{ form.start_date.label }}<br>
                {{ form.start_date(size=32) }}
                <div class="btn btn-info" onclick="
                    var today = new Date();
                    var date = today.getDate()+'/'+(today.getMonth()+1)+'/'+today.getFullYear();
                    document.getElementById('start_date').value = date;
                ">
                    TODAY
                </div>
            </div><br>
            <div>
                {{ form.entries.label }}<br>
                {{ form.entries() }}
            </div><br>
            <div>{{ form.submit(class_="btn btn-primary") }}</div>
        </form>
    
    </div>
{% endblock %}